SECRET_KEY=django-insecure-qey_x-qw*3llo51=tnr-srv6jedt)-*h3_hdr=u3_y!lhi*_^u
FERNET_KEY=0ULKrIW_fzU1A5JeHvo9B9PG3ZiGMLU5uG1QlHIuuMI=

ALLOWED_HOSTS=localhost, 127.0.0.1
DEBUG=False

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_USE_TLS=False
EMAIL_HOST_USER=<YOUR_EMAIL_HOST_USER>
EMAIL_HOST_PASSWORD=<YOUR_EMAIL_HOST_USER_PASSWORD>
INFO_EMAIL=<YOUR_INFO_EMAIL>

FRONTEND_URL=http://127.0.0.1:3000
ENVIRONMENT=[DEVELOPTMENT | PRODUCTION]


