{% extends 'emails/base.html' %}

{% block content%}
<center>
<p class="x_MsoNormal" align="center" style="text-align:center"><b><span style="font-size:22.0pt; color:black">Hello! {{name}}</span></b></p>
<p class="x_MsoNormal" align="center" style="text-align:center"><span style="font-size:14.0pt; font-family:&quot;Arial&quot;,sans-serif">&nbsp;</span></p>
<p align="center" style="margin:0in; text-align:center"><span style="font-size:16.0pt; color:black">To reset your password:
</span><b><span style="font-size:14.0pt; color:#00B0F0">
	
<a href="{{link}}" target="_blank"><span style="font-size:16.0pt; color:#00B0F0; border:none windowtext 1.0pt; padding:0in">Click
 Here </span></a></span></b><span style="font-size:16.0pt; color:black"></span></p>
 
<p align="center" style="margin:0in; text-align:center"><span style="font-size:16.0pt; color:black">If you did not request a password reset, no further action is required.</span></p>
<p style="margin:0in; box-sizing:border-box"><span style="font-size:12.0pt; color:black">&nbsp;</span></p>
</center>
{% endblock%}