{% extends 'emails/base.html' %}

{% block content%}
<center>
<p class="x_MsoNormal" align="center" style="text-align:center"><b><span style="font-size:22.0pt; color:black">Welcome!</span></b></p>
<p class="x_MsoNormal" align="center" style="text-align:center"><span style="font-size:16.0pt; color:black">
	Thank you for registering with American Hospitals.
</span></p>

<p class="x_MsoNormal" align="center" style="text-align:center"><span style="font-size:16.0pt; color:black">
	Before you can use your account, you need to verify your email address by clicking this link : </span>
</span></p>
<p class="x_MsoNormal" align="center" style="text-align:center"><b><span style="font-size:14.0pt; color:#00B0F0">
	<a href="{{link}}" target="_blank">	<span style="font-size:16.0pt; color:#00B0F0; border:none windowtext 1.0pt; padding:0in">
		Confirm Account</span></a></span></b><span style="font-size:16.0pt; color:black"></span></p>

<p align="center" style="text-align:center; line-height:18.75pt; background:white">

<span style="font-size:16.0pt; color:black">
	If the link does not work, copy and paste the web address below into your browser to confirm your email address.
</span></p>

	<p>{{link}}

</center>
{% endblock%}

